@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
  font-family: "Jersey 10", sans-serif;
  font-size: 6vh;
  color: #c8c8c8;
  text-shadow: 2px 2px 0px #000000;
  overflow: hidden;
  height: 90%;
  width: 96%;
  margin: 0;
  /* background-color: rgb(57, 75, 130); */
}

a {
  color: inherit;
}

.title {
  position: absolute;
  top: 10%;
  width: 96%;
  height: 6%;
  margin: 2%;
  text-align: center;
}

.all {
  position: absolute;
  top: 30%;
  height: 56%;
  width: 96%;
  margin: 2%;
}

.leftHalf, .rightHalf, .left3rd, .mid3rd, .right3rd, .leftTwo3rd, .rightTwo3rd {
  position: absolute;
  top: 30%;
  height: 40%;
  margin: 2%;
}

.leftHalf {
  width: 46%;
  left: 0;
}
.rightHalf {
  width: 46%;
  right: 0;
}

.left3rd {
  left: 0;
  width: 29%;
}

.mid3rd {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 29%;
}

.right3rd {
  right: 0;
  width: 29%;
}

.leftTwo3rd {
  left: 0;
  width: 63%;
}

.rightTwo3rd {
  right: 0;
  width: 63%;
}

.pourquoi {
  height: 3em;
  vertical-align: middle;
  margin-right: 0.2em;
  transform: rotate(-5deg);
  filter: drop-shadow(2px 2px 0px #000000);
}

.keys {
  width: 17.5vw;
  vertical-align: middle;
  margin-right: 0.2em;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  filter: drop-shadow(2px 2px 0px #000000);
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2%;
}

#luxray {
  position: absolute;
  bottom: 0;
  left: 70%;
  height: 10%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}